<!-- pet/mypet.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<h2>我的寵物</h2>
{% endblock header %}

{% block content %}

<button class="ts positive button" onclick="location.href='/mypet/add_pet'">登記寵物</button>

<div class="ts horizontal divider">我的寵物清單</div>

<div class="ts three cards">
    {% for pet in pets %}
    <div class="ts raised positive card">
        <a class="image" href="{% url 'master:mypet/pet_detail' pet.id %}" data-tooltip="點啊！看啥呢？"
            data-tooltip-delay="disabled">
            <img id="mypet_img" src="{{ pet.image.url }}">
            <div class="center aligned header">
                {{ pet.petName }}
                {% if pet.petClass == 'Dog' %}
                <div class="sub header">牠是隻狗狗</div>
                {% else %}
                <div class="sub header">牠是隻貓貓</div>
                {% endif %}
            </div>
        </a>
        <div class="ts fluid stackable buttons">
            <button class="ts button" onclick="location.href='/mypet/feeding_record/{{ pet.id }}/'">餵食紀錄</button>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}