{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

{% endblock header %}

{% block content %}
 
  <button class="ts button">
                    <a href="{% url 'feed:feed_recommendation' %}"> 推薦飼料</a>
                </button>
<table class="ts table">
    <thead>
        <tr>
            <th class="one wide">編號</th>
            
            <th>飼料名</th>
            <th class="two wide">餵食時間</th>
            <th class="two wide">飼料的分量(g)</th>
             <th class="two wide" >水量</th>
            <th class="one wide"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1</td>
            <td>飼料1</td>
            <td>2019-11-30</td>
            <td>100</td>
            <td>100</td>

                <td>
                   <button class="ts icon button negative">
                <i class="delete icon"></i>  </button>
                 </td>
        </tr>
{% comment %} 新增飼料的表單 {% endcomment %}
        <form class="ts form">
            <tr>
            <td></td>
            <td> <input type="text"></td>
            <td><div id="showDate"></div>
            </td>
                      
            <td><input type="text"></td>
            <td><input type="text"></td>
                   <td>
                   <button class="ts icon button positive">
                <i class="add icon"></i>  </button>
                 </td>
             </tr>
        </form>
 



    </tbody>

</table>

{% endblock content %}