<!-- pet/pet_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block header %}
<h2>寵物資訊</h2>
{% endblock header %}

{% block content %}

<div class="ts relaxed grid">
    <div class="eight wide column">
        <img class="ts medium image" src="{{ pet.image.url }}">
    </div>
    <div class="eight wide column">
        <table class="ts very basic table">
            <tbody>
                <tr>
                    <td>名字</td>
                    <td>{{ pet.petName }}</td>
                </tr>
                <tr>
                    <td>類別</td>
                    <td>{{ pet.petClass }}</td>
                </tr>
                <tr>
                    <td>性別</td>
                    <td>{{ pet.petGender }}</td>
                </tr>
                <tr>
                    <td>品種</td>
                    <td>{{ pet.petType }}</td>
                </tr>
                <tr>
                    <td>是否結紮</td>
                    <td>{{ pet.ligation }}</td>
                </tr>
                <tr>
                    <td>體重</td>
                    <td>{{ pet.weight }} KG</td>
                </tr>
                <tr>
                    <td>年齡</td>
                    <td>{{ age_year }}歲{{ age_month }}個月</td>
                </tr>
            </tbody>
        </table>
        <button class="ts button" onclick="location.href='/feed/feeding_record'">餵食紀錄</button>
        <button class="ts positive button" onclick="location.href='/mypet/update_pet_detail/{{pet.id}}'">修改</button>
        <button class="ts negative button" onclick="showDimmer_delpet()">刪除寵物</button>
    </div>
</div>

<!-- 彈跳訊息 -->
<div class="ts modals dimmer">
    <dialog id="closableModal_delpet" class="ts closable tiny modal">
        <div class="content">
            <p>
                你確定要刪除『{{pet.petName}}』嗎？<br>
                刪了就沒了喔！確定喔？<br>
                再給你一次機會<br>
            </p>
        </div>
        <div class="actions">
            <button class="ts deny button">
                別
            </button>
            <button class="ts negative button" onclick="location.href='/mypet/del_pet/{{pet.id}}'">
                忍痛刪除
            </button>
        </div>
    </dialog>
</div>
<!-- 彈跳訊息 -->

{% endblock content %}