{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

{% endblock header %}

{% block content %}


<table class="ts celled table">
  <thead>
        <tr>
            <th colspan="3">
                飼料品名
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>飼料類型</td>
            <td>補助食品</td>
        </tr>
        <tr>
            <td>內容物</td>
            <td>蔓越莓 紅麴 </td>
        </tr>
        <tr>
            <td>適用對象</td>
            <td>犬 貓</td>
        </tr>
        <tr>
            <td>使用方法</td>
            <td>1~5kg一餐一匙</td>
        </tr>
         <tr>
            <td>保存方式</td>
            <td>密閉乾燥陰涼處存放</td>
        </tr>
        <tr>
            <td>製造公司</td>
            <td>xxx生技公司</td>
        </tr>
       
    </tbody>
</table>

{% endblock content %}