{% extends "base.html" %}
{% load static %} 

{% block header %}
    
{% endblock header %}


{% block content %}


<div class="ts grid">
    <div class="four wide column">
    {% comment %}要放上主人的大頭照  {% endcomment %}
        <img class="ts small rounded image" src="{% static 'images/mastericon.png' %}">
    </div>
    {% comment %} 主人個人資料修改區 {% endcomment %}
    <div class="twelve wide column">
        
        <form class="ts horizontal form">
            <div class="field">
                <label>主人名稱</label>
                <input type="text" name="">
            </div>
            <div class="field">
                <label>帳號</label>
                <input type="text" name="">
            </div>
             <div class="field">
                <label>密碼</label>
                <input type="password" name="">
            </div>

            <div class="field">
                <label>上傳照片</label>
                <input type="file" name="uploadfile" style="overflow: hidden" />
            </div>


            <div class="field">
             <button class="ts button">修改送出</button>
             </div>
           
        </form>
     </div>


</div>




{% comment %}  顯示寵物列表 {% endcomment %}

<div class="ts horizontal divider">my pet list</div>

<div class="ts card">
    <div class="image">        <img src="{% static 'images/peticon.png' %}">    </div>
    <div class="content">       
         <div class="header">寵物名字</div>
         
 
        <div class="ts fluid stackable buttons">
            <button class="ts button"><a href="/mypet/petdetail">修改</a></button>
            <button class="ts button"><a href="">刪除</a></button>
            <button class="ts button"><a href="/mypet/feedingrecord">查詢餵食紀錄</a></button>
        </div>
    </div>
</div>


<button class="ts button"><a href="/mypet/addpet">登記寵物</a></button>
{% comment %} 跳轉到新增寵物的畫面 {% endcomment %}


{% endblock content %}