{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<h2>旅館資訊</h2>
{% endblock header %}

{% block content %}

<table class="ts very basic table">
    <tbody>
        <tr>
            <td class="three wide">名稱</td>
            <td class="thirty wide">{{ hotel.hname }}</td>
        </tr>
        <tr>
            <td>完整名稱</td>
            <td>{{ hotel.full_name }}</td>
        </tr>
        <tr>
            <td>評鑑</td>
            <td>{{ hotel.rank }}</td>
        </tr>
        <tr>
            <td>地區</td>
            <td>{{ hotel.district }}</td>
        </tr>
        <tr>
            <td>地址</td>
            <td>{{ hotel.address }}</td>
        </tr>
        <tr>
            <td>郵遞區號</td>
            <td>{{ hotel.postalcode }}</td>
        </tr>
        <tr>
            <td>負責人</td>
            <td>{{ hotel.incharge }}</td>
        </tr>
        <tr>
            <td>連絡電話</td>
            <td>{{ hotel.phone }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">
                {% if not favor_hotel %}
                <button class="ts right floated positive labeled icon button" id="detail_fav_btn_{{hotel.id}}" onclick="add_hotel_favor_detail('{{user.id}}', '{{hotel.id}}')">
                    加入最愛
                    <i class="heart icon"></i>
                </button>
                {% else %}
                <button class="ts right floated negative labeled icon button" id="detail_fav_btn_{{hotel.id}}" onclick="del_hotel_favor_detail('{{user.id}}', '{{hotel.id}}')">
                    移除最愛
                    <i class="heart icon"></i>
                </button>
                {% endif %}
            </th>
        </tr>
    </tfoot>
</table>

{% endblock content %}
