{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<h2>寵物旅館</h2>
{% endblock header %}

{% block content %}
<div class="ts grid">

    <div class="three wide column">
        <form class="ts form" method="post">
            <div class="field">

                <label>選擇地區</label>
                <select id="chose_district" name="chose_district">
                    {% for Hotel in district %}
                    <option>{{Hotel.district}}</option>
                    {% endfor %}
                </select>

            </div>

        </form>
    </div>

    <div id='map' style='width: 700px; height: 300px;'>
        <div class='quakeInfo'>
            <div><strong style="font-size:15px">旅館名稱:</strong> <span id='hotel_name' style="font-size:15px"></span>
            </div>
            <div><strong style="font-size:15px">評鑑:</strong> <span id='rank' style="font-size:15px"></span></div>
            <botton style="color: red;font-size:25px">加入我的最愛:</botton>
        </div>
    </div>

</div>
{% endblock content %}
