<!-- registration/login.html -->
{% extends "base.html" %}

{% block header %}
<h2>登入</h2>
{% endblock %}

{% block content %}

<form class="ts form" method="post" action="{% url 'master:login' %}">
    {% csrf_token %}
    <div class="seven wide field">
        <label>帳號</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="seven wide field">
        <label>密碼</label>
        <input type="password" id="password" name="password">
    </div>
    <button class="ts positive button" name="submit">登入</button>
    <input type="hidden" name="next" value="{% url 'master:index' %}" />
</form>

{% endblock content %}