{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<h2>推薦飼料</h2>
{% endblock header %}

{% block content %}

<table class="ts very basic table">
    <thead>
        <tr>
            <th class="one wide">編號</th>
            <th class="eight wide">飼料名稱</th>
            <th class="four wide">飼料類型</th>
            <th class="three wide"></th>
           
        </tr>
    </thead>
    <tbody>
        {% comment %} 每個飼料start {% endcomment %}
        <tr>
            <td> 1</td>
            <td>飼料一號</td>
            <td>營養品</td>
            <td>
                <button class="ts button">   <a href="{% url 'feed:feed_detail' %}">詳細資訊</a> </button>            
                 <button class="ts icon button"> <i class="heart icon"></i> </button>
                 
           </td>
        </tr>
        {% comment %} 每個飼料end {% endcomment %}
        <tr>
            <td> 2</td>
            <td>飼料二號</td>
            <td>乾飼料</td>
            <td>
                   <button class="ts button">   <a href="{% url 'feed:feed_detail' %}">詳細資訊</a> </button>      
                 <button class="ts icon button"> <i class="heart icon"></i> </button>
                 
           </td>
        </tr>

    </tbody>
</table>

{% endblock content %}