{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

{% endblock header %}

{% block content %}

<table class="ts very basic table">
    <tbody>
        <tr>
            <td class="three wide">名稱</td>
            <td class="thirty wide">{{ feed.fname }}</td>
        </tr>
        <tr>
            <td>項目</td>
            <td>{{ feed.fitem }}</td>
        </tr>
        <tr>
            <td>成份</td>
            <td>{{ feed.fmat }}</td>
        </tr>
        <tr>
            <td>營養</td>
            <td>{{ feed.fnut }}</td>
        </tr>
        <tr>
            <td>適用</td>
            <td>{{ feed.fusage1 }}</td>
        </tr>
        <tr>
            <td>使用</td>
            <td>{{ feed.fusage2 }}</td>
        </tr>
        <tr>
            <td>保存</td>
            <td>{{ feed.fusage3 }}</td>
        </tr>
        <tr>
            <td>公司</td>
            <td>{{ feed.flegalname }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">
                <div class="ts right floated small primary labeled icon button">
                    <i class="heart icon"></i> 加到我的最愛
                </div>
            </th>
        </tr>
    </tfoot>
</table>

{% endblock content %}