<!-- feed/feed.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block header %}

{% endblock header %}

{% block content %}

<div id="first" class="ts top attached tabbed menu">
    <a class="{{dogactive}} item" data-tab="狗狗">狗狗</a>
    <a class="{{catactive}}item" data-tab="貓貓">貓貓</a>
</div>
<div data-tab="狗狗" class="ts active bottom attached tab segment">
    <div class="ts relaxed grid">
        <div class="ten wide column">
            <form class="ts form horizontal">
                <div class="field">
                    <mark>這裡是狗狗</mark>
                </div>
                {% if user.is_authenticated %}
                <div class="field">
                    <label>選擇哪隻狗狗</label>
                    <select id='choseDog'>
                        <option value="" disabled selected>選擇一個狗狗</option>
                        {% for pet in pets %}
                        {% if pet.petClass == 'Dog' %}
                        <option value="{{ pet.id }}">{{ pet.petName }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                </div>
                {% endif %}
                <div class="field">
                    <label>體重</label>
                    <input type="number" id="dog_weight">
                </div>
                <div class="field">
                    <label>活動類型</label>
                    <select id='dog_type'>
                        <option value="" disabled selected>選擇活動類型</option>
                        <option>成犬(室內/中低活動量)</option>
                        <option>成犬(中高度活動量)</option>
                        <option>需增重成犬(輸入目標體重)</option>
                        <option>需減肥成犬(輸入目標體重)</option>
                        <option>成長期幼犬(斷奶至4個月)</option>
                        <option>成長期幼犬(4個月至10個月)</option>
                        <option>懷孕母犬(前42天)</option>
                        <option>懷孕母犬(最後21天)</option>
                        <option>哺乳母犬</option>
                    </select>
                </div>
                <div class="field">
                    <label>是否結紮</label>
                    <div class="ts checkboxes">
                        <div class="ts radio checkbox">
                            <input id="dog_yes" type="radio" name="dog_ligation" value="Yes">
                            <label for="dog_yes">有</label>
                        </div>
                        <div class="ts radio checkbox">
                            <input id="dog_no" type="radio" name="dog_ligation" value="No">
                            <label for="dog_no">無</label>
                        </div>
                    </div>
                </div>
                <button class="ts button" name="petclass" value="dog">計算餵食量</button>
<!--                <input name="petclass" value="dog" type="submit">-->
                <button class="ts button">
                    <a href="{% url 'feed:feed_recommendation' %}"> 推薦飼料</a>
                </button>
                <button class="ts button">
                    <a href="{% url 'feed:feeding_record' %}"> 查詢餵食紀錄</a>
                </button>
            </form>
        </div>
        <div class="six wide column">
            <form class="ts form horizontal">
                <div class="field">
                    <label>罐頭</label>
                    <input type="text" value="{{ result.3}}">
                </div>
                <div class="field">
                    <label>生食</label>
                    <input type="text" value="{{ result.1}}">
                </div>
                <div class="field">
                    <label>凍乾</label>
                    <input type="text" value="{{ result.2}}">
                </div>
                <div class="field">
                    <label>水</label>
                    <input type="text" value="{{ result.0}}">
                </div>
            </form>
        </div>
    </div>
</div>
<div data-tab="貓貓" class="ts bottom attached tab segment">
    <div class="ts relaxed grid">
        <div class="ten wide column">
            <form class="ts form horizontal">
                <div class="field">
                    <mark>這裡是貓貓</mark>
                </div>
                {% if user.is_authenticated %}
                <div class="field">
                    <label>選擇哪隻貓貓</label>
                    <select id='choseCat'>
                        <option value="" disabled selected>選擇一個貓貓</option>
                        {% for pet in pets %}
                        {% if pet.petClass == 'Cat' %}
                        <option value="{{ pet.id }}">{{ pet.petName }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="field">
                    <label>體重</label>
                    <input type="number" id="cat_weight">
                </div>
                <div class="field">
                    <label>活動類型</label>
                    <select id='cat_type'>
                        <option value="" disabled selected>選擇活動類型</option>
                        <option>成貓(室內/低活動量)</option>
                        <option>成貓(中高活動量)</option>
                        <option>需增重成貓(輸入目標體重)</option>
                        <option>需減肥成貓(輸入目標體重)</option>
                        <option>成長期幼貓(10個月以內)</option>
                        <option>老貓(11歲以上)</option>
                        <option>懷孕母貓</option>
                        <option>哺乳母貓</option>
                    </select>
                </div>
                <div class="field">
                    <label>是否結紮</label>
                    <div class="ts checkboxes">
                        <div class="ts radio checkbox">
                            <input id="cat_yes" type="radio" name="cat_ligation" value="Yes">
                            <label for="cat_yes">有</label>
                        </div>
                        <div class="ts radio checkbox">
                            <input id="cat_no" type="radio" name="cat_ligation" value="No">
                            <label for="cat_no">無</label>
                        </div>
                    </div>
                </div>
                <button class="ts button">計算餵食量</button>
                <button class="ts button">
                    <a href="{% url 'feed:feed_recommendation' %}"> 推薦飼料</a>
                </button>
                <button class="ts button">
                    <a href="{% url 'feed:feeding_record' %}"> 查詢餵食紀錄</a>
                </button>
            </form>
        </div>
        <div class="six wide column">
           <form class="ts form horizontal">
                <div class="field">
                    <label>罐頭</label>
                    <input type="text" value="{{ result.3}}">
                </div>
                <div class="field">
                    <label>生食</label>
                    <input type="text" value="{{ result.1}}">
                </div>
                <div class="field">
                    <label>凍乾</label>
                    <input type="text" value="{{ result.2}}">
                </div>

                <div class="field">
                    <label>水</label>
                    <input type="text" value="{{ result.0}}">
                </div>
            </form>
        </div>
    </div>
</div>


<button class="ts button">
    <a href="{% url 'feed:feed_list' %}">查詢所有飼料 </a>
</button>
{% endblock content %}