{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<h2>最愛飼料</h2>
{% endblock header %}

{% block content %}




<table class="ts table">
    <thead>
        <tr>
            <th class="one wide">編號</th>
            
            <th>飼料品名</th>
            <th>飼料類型</th>
            <th >內容物</th>
        <th  class="three wide"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1</td>
            <td>飼料一號</td>
            <td>營養食品</td>
        
            <td>蔓越莓 紅麴</td>

            <td> 
              <button class="ts button">   <a href="{% url 'feed:feed_detail' %}">詳細資訊</a> </button>  
            <button class="ts icon button"><i class="delete icon"></i>  </button>  </td>
        </tr>
 



    </tbody>

</table>

{% endblock content %}