{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
<h2>推薦飼料</h2>
{% endblock header %}

{% block content %}

<table class="ts very basic table">
    <thead>
        <tr>
            <th class="one wide">編號</th>
            <th class="one wide">最愛</th>
            <th class="four wide">名稱</th>
            <th class="two wide">項目</th>
            <!-- <th>成分</th>
            <th>營養</th> -->
            <th class="three wide">適用</th>
            <!-- <th>使用</th>
            <th>保存</th> -->
            <th class="four wide">公司</th>
            <th class="one wide">詳細</th>

        </tr>
    </thead>
    <tbody>
        {% for feed in r_list %}
        <tr>
            <td> {{ feed.id }}</td>
            <td>
                <button class="ts circular icon secondary button" onclick="">
                    <i class="heart negative icon"></i>
                </button>
            </td>
            <td>{{ feed.fname }}</td>
            <td>{{ feed.fitem }}</td>
            <!-- <td>{{ feed.fmat }}</td>
            <td>{{ feed.fnut }}</td> -->
            <td>{{ feed.fusage1 }}</td>
            <td>{{ feed.flegalname }}</td>
            <td><a href="{% url 'feed:feed_list/feed_detail' feed.id %}">more</a></td>
        </tr>
        {% endfor %}


    </tbody>
</table>

{% endblock content %}