{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<h2>飼料列表</h2>
{% endblock header %}

{% block content %}

<!-- <button class="ts button" onclick="location.href='/feed/import_feed'">匯入飼料</button> -->
<table class="ts table" id="feed_table">
    <thead>
        <tr>
            <th class="one wide center aligned">最愛</th>
            <th class="one wide">編號</th>
            <th class="four wide">名稱</th>
            <th class="two wide">項目</th>
            <!-- <th>成分</th>
            <th>營養</th> -->
            <th class="three wide">適用</th>
            <!-- <th>使用</th>
            <th>保存</th> -->
            <th class="four wide">公司</th>
            <th class="one wide">詳細</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% endblock content %}